<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/style_contato.css" rel="stylesheet" />
</head>

<body>
    <header class="main-header">
        <div class="logo">
            <a th:href="index.html">
                <img src="img/logo.png" alt="Logo do Site" />
            </a>
        </div>

        <nav class="desktop-main-menu">
            <ul>
                <li><a href="index">Home</a></li>
                <li><a th:href="somos">Somos</a></li>
                <li class="active"><a href="#">Reserva</a>
                    <ul class="dropdown">
                        <li><a th:href="fauna">Fauna</a></li>
                        <li><a href="#">Flora</a></li>
                    </ul>
                </li>
                <li><a th:href="contato">Contato</a></li>
            </ul>
        </nav>

        <div class="h-right ">
            <!-- <a href="#">Siga-nos</a> -->
            <a href="#"><i class="ri-instagram-fill"></i></a>
            <a href="#"><i class="ri-facebook-fill"></i></a>
            <a th:href="login">Cadastro</a>
            <div class="bx bx-menu" id="menu-icon"></div>
        </div>
    </header>

    <div class="container">
        <div class="contact-box">
            <div class="left"></div>
            <div class="right">
                <h2>Entre em contato</h2>
                <form id="formMessage">
                    <input type="text" id="nome" class="field" name="nome" placeholder="Nome">
                    <input type="email" id="email" class="field" name="email" placeholder="E-mail">
                    <input type="telefone" id="telefone" class="field" name="telefone"
                        placeholder="Telefone (opcional)">
                    <textarea class="field area" id="mensagem" name="mensagem" placeholder="Message"></textarea>
                    <input type="submit" class="btn" name="submitButton">Enviar</input>
                </form>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script/scriptNav.js"></script>
    <script src="script/scriptMessage.js"></script>
</body>

</html>